body {
  padding: 0 40px 0 40px;
}

a {
	text-decoration:none;
}

h1 {
	margin-bottom:2px;
}

h2 {
	margin-bottom:2px;
}

.wrapper {
    font-size: 1.2em
}

#header {
  width: 960px;
  margin-top: 25px;
}

/* Tabbed Header */
#tabbed_header {
    margin-bottom: 30px;
}

#tabbed_header #nav {
    background: silver;
    height: 35px;
}

#tabbed_header ul {
    list-style-type:none;
    margin: 5px 0 0;
}

#tabbed_header li {
    padding: 5px 10px;
    float: left;
    display: block;
    margin: 0;
}
#tabbed_header ul:first-child {
    padding-left: 0px;
}

#tabbed_header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#tabbed_header a:hover {
    text-decoration: underline;
}


/* basic layout */
#page_container {
  margin: 10px 10px 0 10px;
  width: 960px;
}

#welcome_banner {
  width: 940px;
}

#welcome_text {
  vertical-align: top;
  width: 400px;
  padding-right: 210px;
  display: inline-block;
}

#about_video {
  width: 300px;
  height: 220px;
  padding-left: 20px;
  display: inline-block;
}

#page_content_container {
  width: 940px;
}

#page_content {
  vertical-align: top;
  width: 400px;
  padding-right: 210px;
  display: inline-block;
}

/* Homophone List */

.homophone_set_list {
  border: 1px solid #888888;
  padding: 5px;
  width: 400px;
  height: 38em;
  float: left;
  overflow-y: scroll;
}

.homophone {
  text-indent:-3em;
  padding-left:3em;
}
.homophone_set {
  padding-bottom: 25px;
}

.homophone .name {
  font-weight: bold;
  padding-right: 5px;
}

.homophone .definition {
  font-style: italic;
}

/* Homophone Index */
#rolodex {
	color:#999;
	padding-right: 10px;
	float:left;
}

.rolodex_letter_container {
/*  float: left;*/
	width: 20px;
    text-align: center;
}

#rolodex ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#rolodex a {
    color: #003399;
	text-decoration:none;
}

#rolodex a:hover {
    color: #003399;
	text-decoration:none;
	font-weight:bold;
}

.go_to_top {
	/* display: none; */
	display: inline;
	font-size: .8em;
	margin-left: 20px;
}

.go_to_top a:hover {
	display: inline;
}


.key_letter {
    font-size: 2em;
	font-weight: bold;
	display: inline;
    color: #003399;
}


/* Search Box */
#search_box {
    color: #474747;
    margin-bottom: 20px;
}
#search_box label {
    font-weight: bold;
}
#search_box input#search_term {
    width: 200px;
}
#search_box .search_note {
    font-size: .7em;
    line-height: 1.2em;
}

/* Riddles */

#random_riddle {
/*  float: right;*/
	padding: 10px;
	border: 1px solid gray;
	text-align: center;
}
/* Sidebar */

#sidebar {
  width: 300px;
  padding-left: 20px;
  display: inline-block;
  font-size: .7em;    
}

#sidebar h4 {
    margin-bottom: 5px
}
#sidebar p {
    margin-top: 10px;
}
#sidebar span.note_date {
    color: gray;
    padding-right: 10px;
}

.not_done {
    min-height: 300px;
    background-color: #FFDF29;
}

.riddle_response {
	border-width: 2px;
	border-color: black;
	background-color:blue;
	padding:4px;
	color:white;
}


/* Error messages */
.formError, .errorExplanation {
	color: red;
}

#new_homophone_set .fieldWithErrors {
	float: left;
	padding-right: 4px;
}

.fieldWithErrors input {
	border: 3px solid red;
}

.field_with_errors label {
  color: red;
}

.field_with_errors input {
  border: 1px solid red;
}

/* Admin homophone navigation sidebar */
#homophone_navigation {
	float: left;
	border: black solid;
	border-width: 1px 1px 1px 0;
	padding: 10px 5px 5px 15px;
	margin-left: 0px;
	margin-right: 25px;
}

#homophone_navigation .homophone_set {
  border-bottom: 1px black dotted;
}

.column_header {
  display: block;
  float: left;
  text-align: center;
}

.table_like {
  float: none;
  clear: both;
}

.column {
  overflow: hidden;
  padding: 5px;
  float: left;
  width: 200px;
}

.small {
  width: 125px;
}

.large {
  width: 300px;
}

.hidden_stash {
  display: none;
}

.flash_notice {
  font-size: 1.3em;
  font-weight: bold;
  color: blue;
  padding: 10px;
  border: 1px solid blue;
}
