#header {
    margin-top: 25px;
}
.homophone_set {
  padding-bottom: 25px;
}

.homophone .name {
  font-weight: bold;
}

.homophone .definition {
  font-style: italic;
}

#index_links ul {
    padding: 0;
    list-style-type: none;
    margin: 20px 0;
}
#index_links li {
  float: left;
  padding-right: 10px;
  margin: 0;
}
#index_links li a {

}

.clearfix:after, .container:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix, .container {display:inline-block;}
* html .clearfix, * html .container {height:1%;}
.clearfix, .container {display:block;}
.clear {clear:both;}

