<% content_for :application do %>
  <div id="homophone_navigation" class='grid_6'>
    <div id="no_matching_homophones" style="display: none">
      No matching homophones
    </div>

    <% @homophone_sets.each do |homophone_set| %>
      <div class='homophone_set'>
        <% homophone_set.homophones_sorted.each do |homophone| %>
          <div class='homophone'>
            <span class='name'><%= link_to homophone.name, edit_admin_homophone_set_path(homophone.homophone_set_id) %></span>
            <span class='definition'><%= h homophone.definition %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  
  <div class='grid_17'><%= yield %></div>
<% end %>
<%= render :file => 'layouts/application' %>
