        <div class='homophone_set'>
          <% homophone_set.sort.each do |homophone| %>
            <div class='homophone'>
              <span class='name'><%= h homophone.name %></span>
              <span class='definition'><%= h homophone.definition %></span>
            </div>
          <% end %>
        </div>
