  <h2>About the List</h2>
<p>When I was in the second grade, my teacher introduced me to "homonyms," those words, like "caret" and "carrot" that are pronounced the same, but are spelled differently, and that have different meanings. The concept intrigued me, and for months, I maintained a dog-eared pad of yellow paper with an ever-growing list of homonyms. I eventually lost that yellow pad, but never my interest in these odd, quirky English words.</p>
<p>
  I consider homonyms to be the prime numbers of the English language. Like primes, they cannot be predicted by any rules of grammar or diction. In the way that you can't search the number line for primes, you cannot systematically search the dictionary for homonyms. You just have to find them, like Easter Eggs in the dictionary.
</p>
<p>
  The best part about homonyms, though, is that they are the raw material for puns, a truly sublime form of humor. With a robust knowledge of and appreciation for homonyms, you will never be embarrassed when a pun-battle breaks out in public.
</p>
<p>
  A few years ago, when my oldest son, Scott, was in the second grade, he came home with the assignment of compiling a list of homonyms! I was in heaven, reliving a joyous, quasi-literary moment from my childhood. Scott and I, along with family and friends, worked for days putting together as complete a list as we could of homonyms. Scott has moved on, but I still maintain the list with a fervor many others find silly. But I take a small but intense pleasure at finding these little hidden gems.
</p>
<p>
  Because their nature is so odd, it is quite possible to miss the most obvious ones. Just last week I added "fair" and "fare" to the list. If you can find any that are missing, please email them to me at alan@cooper.com and I will add them to the list (and mention your name here).
</p>

<h2>Response</h2>
<p>The response to my homonym list has been fabulous! Many wonderful people have sent me dozens of new homonyms. Even more than that, though, has been the breadth and vigor of ideas about words and homonyms and language and play. I already have small collections of French and German homonyms, and the start of a collection of what I call "Fractonyms." These not-quite homonyms include such pairs as:</p>
<dl>
  <dt>'fraid</dt><dd>afraid and in a hurry</dd>
  <dt>frayed</dt><dd>worn and ragged</dd>
</dl>
<dl>
  <dt>a parent</dt><dd>a father or a mother</dd>
  <dt>apparent</dt><dd>evidently so</dd>
</dl>
<p>Stay tuned for more on these other collections.</p>

<h2>Contributors</h2>

<p>In alphabetical order, here is a list of some of the many generous people who have contributed to this list of homonyms.</p>

<p>Raney Alexandre<br />
Elaine Anderson<br />
Anthony Armstrong<br />
Robert L. Baber<br />
Lem Bingley<br />
Tom Borromeo<br />
David Bowman<br />
Mary Brophy<br />
Frank Brusca<br />
Marnie Buckley<br />
Mick Byford<br />
Janet E. Byford<br />
Matthew Clarcq<br />
Lewis Cohen<br />
Eric Colby<br />
Marty Cooper<br />
Scott Cooper<br />
Guy Cousineau (Biiiiig Help!)<br />
Keith M. Eckrich<br />
Lou Fernandez<br />
Rick Frye<br />
Craig Gentry<br />
Wayne Greenwood<br />
Nancy Guenther</p>

<p>John Haim<br />
Chris Hartman<br />
Tom Hill<br />
Laurie Hills<br />
Mary Jobe<br />
Terry L. Johnson<br />
Thelma Kay-Weiss<br />
Howard Kuchta<br />
Jon Carson Kundtz<br />
Dale Leaman<br />
Tim Lesher<br />
Beth Levy<br />
Robert Linn<br />
Michael Lorton<br />
Kay Luo<br />
Lynne McCrea<br />
Bob McGill<br />
David K. Mellinger<br />
Nate Myers<br />
Minette Norman<br />
Michael A. Notte<br />
Rick Oberer<br />
Rich Olson (with a bullet!)</p>

<p>Petra Petrik<br />
Paul Phillips<br />
Patricia M. Pomerleau<br />
Geetha Reddy<br />
Glen Riley<br />
Dietmar Schroeder<br />
sharsmvk<br />
Diana Slattery<br />
Bill Smith<br />
John Stubbe<br />
Willy Tolson (Excellent!)<br />
Jon Vahsholtz<br />
Ralph Volz<br />
Peter Weir<br />
Mark Weiss<br />
Thanks everybody! (If you give me your URL, I'll make your name a hyperlink to it)</p>

<p>Nomenclature</p>

<p>I'd like to point out that the word "homonym" is actually a misnomer. I learned this only recently from my son, and by rights I should call this a list of homophones, but old habits die hard, and that smudged, yellow, lined pad didn't say "homophones," it said "homonyms," and that's how I think of them. For those of you who care, here are the pertinent terms and their definitions:</p>

<p>Homonym: One of two or more words spelled and pronounced alike but different in meaning (as cleave meaning "to cut" and cleave meaning "to adhere" (coincidentally, also antonyms!))<br />
Homophone: One of two or more words pronounced alike but different in meaning or spelling (as the words to, too, and two)<br />
Homograph: One of two or more words spelled alike but different in meaning or pronunciation (as the bow of a ship, a bow and arrow)<br />
Other Fun with Word Resources<br />
If you like to play with words, you'll really like Judi Wolinsky's wonderful Word Play website. It contains pointers to many websites--at least as interesting as this one--that let you have fun with words (and the occasional number, too).</p>

<p>Tracy Finifter has her own excellent list of homonyms on the Web.</p>

<p>David K. Mellinger at Cornell has one of the most interesting lists of word stuff around.</p>

<p>The Rules</p>

<p>This is my list, so I get to make the rules, and I'm pretty permissive (Notice the sextuple homonym "air"!).</p>

<p>Standard contemporary American pronunciation, but where optional pronunciations (homographs) are common, any and all of them are fair game.<br />
Allowances are occasionally made for proper nouns.<br />
Contractions are allowed.<br />
"D" and "T" sounds are not alike ("metal" is not the same as "medal" (although they are the same as "mettle" and "meddle", respectively). However, I consider some "T" sounds to be the same as some "ED" sounds (as in "passed" and "past").<br />
The definitions are my own (with some help from Webster's New World Dictionary, Third College Edition) and are meant only to jog your memory for the rarer words or to inject some humor in an otherwise dry listing.<br />
Pairs of homonyms are preceded by a red square. If the homonym set includes more than three words, the square is blue.<br />
I am the ultimate and only authority on what does and doesn't get on this list, but I would very much like to know what you have to say about it.<br />
If my rules bother you (or even if they don't), I encourage you to make your own list.<br />
The List</p>

<p>Some homonym pairs have simple variants, often plurals, like "lay" and "lei" have "lays" and "leis." But in the world of homonyms, simplicity is often elusive. For the latter, you can add "laze," but there is no equivalent for the former set. In other cases, plurals or other variants of homonyms just don't work. For this reason, I consider any suffix variants--like "ing," "ed," "s"--of any homonyms to be unique homonyms themselves. You'll find as you search the list that I haven't collected anywhere near all of the variants yet. Help is greatly appreciated.</p>

<p>Homonym sets are listed alphabetically and the words within each homonym set are also listed in alphabetical order. This means that if you can't find your favorite homonym, don't forget to try looking for it alphabetically under its pair-mate. For example, you won't find "wrote" under W; you'll find it under R for "rote", which precedes it lexically.</p>

<p>There are now "See:" references pointing to such distant homonym sets. The rule I use is: if the first letter of any homonym is different from the first letter of the first homonym in the set, then there will be a "See:" reference for that homonym, pointing back to the set. Of course this means that all "See:" references point backward in the file. It's very interesting to see how and where the "See:" references cluster.</p>

<p>Automation</p>

<p>My list of homonyms has grown so long (well over 460 sets) that updating it had become a major task. Because I was maintaining the HTML by hand, it was tedious and difficult work, and I kept putting off adding new words to it (I had over 280 new words waiting to be added!). Finally, I faced facts: I needed to get automated! I decided that I had to write a small database publishing system.</p>

<p>I examined and rejected several programming tools, including VB and VC++. At the urging of friends, I checked out PERL. It's been years since I programmed professionally, and my skills were, shall we say, rusty, but I was able to hack out a workable program in about two weeks. Now, I can add new homonyms to the list merely by creating a small ASCII input file and then running the program. It sorts words and sets, scans for duplicates, counts words and sets, automatically generates "See:" references (with anchors and hyperlinks!), organizes inline comments, and gradually fades out those annoying little flags over a four-month span.</p>

<p>As a side effect of my new automated list, I've had to do considerable reorganization. The part you are reading now I call "All About Homonyms," and is now broken off from the list itself. Click on Go to The List to get to it. The old list was in seven sections, which have been combined into one big one. It's pretty big, but there aren't any images of appreciable size, so it's not as slow as other, smaller sites might be.</p>

<p>Other</p>

<p>As a final treat, here is a homonymical poem by Janet E. Byford sent to me from England by Lem Bingley. TAKE A BOUGH</p>

<p>An Ode to the Spelling Chequer</p>

<p>Prays the Lord for the spelling chequer<br />
That came with our pea sea!<br />
Mecca mistake and it puts you rite<br />
Its so easy to ewes, you sea.</p>

<p>I never used to no, was it e before eye?<br />
(Four sometimes its eye before e.)<br />
But now I've discovered the quay to success<br />
It's as simple as won, too, free!</p>

<p>Sew watt if you lose a letter or two,<br />
The whirled won't come two an end!<br />
Can't you sea? It's as plane as the knows on yore face<br />
S. Chequer's my very best friend</p>

<p>I've always had trubble with letters that double<br />
"Is it one or to S's?" I'd wine<br />
But now, as I've tolled you this chequer is grate<br />
And its hi thyme you got won, like mine.</p>

<p>Janet E. Byford</p>

<p>Used by permission</p>


