<h1>Alan's Sweet Homophone list</h1>

<% grouped_by_first_letter(HOM_LIST).each do |key_letter, homophone_sets| %>
<h2><%= h key_letter.upcase %></h2>

  <% homophone_sets.each do |homophone_set| %>
    <div class='homophone_set'>
      <% homophone_set.each do |homophone| %>
        <div class='homophone'>
          <span class='name'><%= h homophone.name %></span>
          <span class='definition'><%= h homophone.definition %></span>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>