<% homophone_set.homophones.sort.each do |homophone| %>
  <div class='homophone'>
    <span class='name' data="<%=  CGI.escape homophone.name.downcase %>"><%= homophone.name %></span>
    <span class='definition'><%= homophone.definition %></span>
  </div>
<% end %>
