<div class="homophone_set_list homophone_box<%= ' editable' if can_edit_homsets? %>">
  <% grouped_list.each do |key_letter, homophone_sets| %>
    <div id="<%= key_letter.downcase %>" class="key_letter"><%=key_letter.upcase %></div>
    <%= render :partial => 'homophone_sets/list', :object => homophone_sets %>
  <% end %>
</div>
