
  <% homophone_set.homophones.sort.each do |homophone| %>
    <div class='homophone'>
      <span class='name'><%= homophone.name %></span>
      <span class='definition'><%= homophone.definition %></span>
    </div>
  <% end %>