  <% homophone_sets.each do |homophone_set| %>
    <div class='homophone_set'>
      <% homophone_set.sort.each do |homophone| %>
        <div class='homophone'>
          <span class='name'><%= homophone.name %></span>
          <span class='definition'><%= homophone.definition %></span>
        </div>
      <% end %>
    </div>
  <% end %>
