<form>
  <h1>HOMOPHONE LIST</h1>
  <input id="search_term" type="text" name="search_term" placeholder="Search..." value="<%= params[:search_term] %>" />
  <span id="search_cancel"><%= image_tag "cancel.png" %></span>
</form>