<form>
  <h1>Homophone List</h1>
  <input id="search_term" class="homophone_box" type="text" name="search_term" placeholder="Search..." value="<%= params[:search_term] %>" />
  <span id="search_cancel"><%= image_tag "cancel_grey.png" %></span>
  <div id='num_matching_hom_sets'>&nbsp;</div>
</form>
