<h1>HOMOPHONE LIST</h1>
<label for="search_term">Search</label>
<input id="search_term" type="text" name="search_term" value="<%= params[:search_term] %>" /><input type=submit value="Go" />
<div class="search_note">Type a single word to find homophones that include that word.</div>
