<div class="grid_8">
  <div id="sidebar">
  <div id="about_video">
    <h4>Mr. Homophone</h4>
    <object width="300" height="220"><param name="movie" value="http://www.youtube.com/v/t4V2O0ifuMg&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/t4V2O0ifuMg&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="300" height="220"></embed></object>
    <p><span class="note_date">October 27, 2008</span>Alan Cooper speaking about users in a post Keynote speech chat
      with delegates at the Patterns and Practices Summit at Microsoft (2006).</p>
  </div>
  <div id="twitter"></div>
  </div>
</div>