<div class="grid_8">
  <div id="sidebar">
  <div id="about_video">
    <object width="300" height="220"><param name="movie" value="http://www.youtube.com/v/t4V2O0ifuMg&hl=en_US&fs=1&"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/t4V2O0ifuMg&hl=en_US&fs=1&" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="300" height="220"></embed></object>
  </div>
  <p>
  <div id="twitter"></div>
  </p>
  </div>
</div>