<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html>
  <head>
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/reset.css" />
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/text.css" />
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/960.css" />
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/960_24_col.css" />
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/application.css" />

    
    <title>Mr. Homophone's Homophones</title>
  </head>
  
  <body>
    <div class='container_24 wrapper'>
      <div id='header'>
        <%= image_tag 'mrhomophone.png' %>
      </div>

      <div id='primaryContent'>
        <%= yield %>
      </div>      
    </div>
  </body>
</html>